#############################
# Credentials
#############################
TW_CONSUMER_KEY=
TW_CONSUMER_SECRET=
TW_USER_TOKEN=
TW_USER_TOKEN_SECRET=
GITHUB_TOKEN=

############################
# Paths
############################
DYNA_TEMPLATES_DIR=
DYNA_IMAGES_DIR=
DYNA_OUTPUT_DIR=

##################################
# Default Template
##################################
#DYNA_DEFAULT_TEMPLATE=cover_sponsors.json